* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.pageLink {
    font-weight: 600;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.siteName {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Koulen';
}


/* = Dropdown Styles = */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    background: white;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdownContent>a {
    display: block;
    width: 100%;
    color: black;
    padding: 12px 16px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a:hover {
    color: rgb(50, 50, 50);
    background: rgb(235, 235, 235);
}

.foot {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.credits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 200%;
}

.contactLink {
    color: #1B4CB1;
}

.indent {
    margin-left: 2.5vw;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    color: black;
}