* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.pageLink {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.siteName {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Koulen';
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    background: white;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdownContent>a {
    display: block;
    width: 100%;
    color: black;
    /*background-color: #c1def1;*/
    background-color: #d72a32;
    padding: 12px 16px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a:hover {
    background: #f0c1c1;
}

.foot {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.credits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 200%;
}

.contactLink {
    color: #d72a32;
}

.indent {
    margin-left: 2.5vw;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: larger;
    color: black;
}

textarea {
    width: 20vw;
    height: 8vh;
    font-family: 'Abel', sans-serif;
}

input {
    width: 20vw;
    height: 4vh;
    border-radius: 5%;
    font-family: 'Abel', sans-serif;
}

.skillsDiv {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.skillTitle {
    width: 20vw;
}

.actSkill {
    width: 60vw;
}

.portWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portButton {
    width: max-content;
    padding: 1vw;
    /*background-color: #c1def1; */
    background-color: #f0c1c1;
    color: black;
}

.portButton:hover {
    background-color: rgb(245, 222, 222);
}

body {
    /*background-color: #a9d0ec;*/
    background-color: #F4D6CC;
}

button {
    border: none;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    background-color: #f0c1c1;
    color: black;
    padding: 1vw;
    border-radius: 5%;
}

button:hover {
    background-color: rgb(245, 222, 222);
}

.boyleImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 6vw;
}

.double {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vw;
}

.textHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 60vw;
}

.imgHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 20vw;
}

.right {
    margin-left: 5vw;
}

.left {
    margin-right: 5vw;
}

footer {
    margin-top: 2vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 25vw;
    margin-bottom: 2vw;
}

.demo {
    margin-top: 2vw;
}


/* CAROUSEL */

.carousel {
  position: relative;
  max-width: fit-content;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.carouselChild {
  display: none;
}

.backward, .forward {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 1vw;
  color: #F4D6CC;
  font-size: medium;
  transition: 0.5s ease;
  border-radius: 0 10% 10% 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 10% 0 0 10%;
}

/*when the user hovers,add a black background with some little opacity */
.backward:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption caption */
.caption {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}


/* The circles or bullets and indicators */
.circle {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #d72a32;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.on, .circle:hover {
  background-color: #f0c1c1;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
